@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill');
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
.Form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}
.Form-form{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 12px 18px 12px 18px;
    width: 400px;
}
.Form-title{
    font-size: 2em;
    font-family: 'Hanalei Fill', cursive;
}
.FormRow{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 4%; 
}
.FormRow-label{
    font-family: 'Kirang Haerang', cursive;
}
.Form-labelLegend,
.Form-botton,
.FormRow-input{
    font-family: 'Kirang Haerang', cursive; 
    font-size: 1.2em;
}
.Form-botton{
    background-color: #ffffff;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    padding: 4px 16px 4px 16px;
    display: block;
    margin: 0 auto; 
    margin-bottom: 20px;
}
.Form-labelLegend{

}